extends ./layouts/common
block content  
    section#about.about
        header.about__header
            .about__header-title
                h1=description
                    //- span i design and develop
                    //- br
                    //- span experiences that make
                    //- br
                    //- span people's lives simple.
        main.about__main
            .about__main-content
                .row 
                    .col-md-7
                        p Given that Hoang grew up in Quang Ngai, a land that can "Located towards the water", with his back leaning against the Truong Son range, facing the East Sea.
                        p 4 words always: always smile, always gentle, always understanding, always help.
                        p You should message me if you are: Sexy, smart, fit and fun. I don’t think that’s too much to ask.
                        p Maxim live: Never study to be successful, study for self efficiency. Don’t run behind success. Follow behind excellence, success will come all way behind you.
                        p I love to play chess and travel.
                        a(href="/").download-cv download resume
                    .col-md-5
                        .education
                            .education__title education
                            .education__content
                                each education in educations
                                    span=education.school
                                    span , 
                                    span=education.startYear
                                    span -
                                    span=education.endYear
                                    .is-devider-20
                                        
                        .experience
                            .experience__title experience
                            .experience__content
                                each experience in experiences
                                    - var company = experience.company
                                        if(company !== '')
                                            span=company
                                            span , 
                                    span=experience.position
                                    span , 
                                    span=experience.startYear
                                    - var endYear = experience.endYear
                                    if(endYear !== null)
                                        span -
                                        span=endYear
                                    .is-devider-20
                        .contact
                            .contact__title contact
                            .contact__content
                                each contact in contacts
                                    if contact.field !== 'email'
                                        a(href=contact.value, class=contact.sign, target="_blank")=contact.sign
                                each contact in contacts
                                    if contact.field === 'email'
                                        .is-devider-20
                                        a(href=`mailto:${contact.value}`, class=contact.field)=contact.field
                .is-devider-200
        .bg-light
            .is-devider-100
            .is-devider-200
            .about__expertise
                span#expertise expertise
                .row.m-0
                    each category in expertiseCategories
                        .col-md-4.about__expertise-categories.p-0
                            h1.about__expertise-title=category.name
                            .is-devider-20
                            p.about__expertise-description=category.description
                            .is-devider-20
                            each expertise in expertises
                                if expertise.expertiseCategoryId === category._id
                                    .about__expertise-skill
                                        span.about__expertise-skill--item=expertise.name
            .is-devider-200
        .bg-dark
            .is-devider-200
            .about__awards
                .about__awards-title awards
                .is-devider-40
                table.table.about__awards-table
                    tbody
                        each award in awards
                            tr
                                td 
                                    span=award.name
                                td=award.subject
                                td=award.prize
                                td=award.year
                        else
                            p.text-center.develop-note Updating, please try again. Thanks...