extends ./layouts/common
block content  
    section#about.about
        header.about__header 
            nav.nav
                a(href="/").nav-link portfolio
            .about__header-title
                h1 
                    span i design and develop
                    br
                    span experiences that make
                    br
                    span people's lives simple.
        main.about__main
            .about__main-content
                .row 
                    .col-md-7
                        p Given that Hoang grew up in Quang Ngai, a land that can "Located towards the water", with his back leaning against the Truong Son range, facing the East Sea.
                        p 4 words always: always smile, always gentle, always understanding, always help.
                        p You should message me if you are: Sexy, smart, fit and fun. I don’t think that’s too much to ask.
                        p Maxim live: Never study to be successful, study for self efficiency. Don’t run behind success. Follow behind excellence, success will come all way behind you.
                        p I love to play chess and travel.
                        a(href="/").download-cv download resume
                    .col-md-5
                        .education
                            .education__title education
                            .education__content Ho Chi Minh City 
                                br 
                                | University of Technology, 2018
                        .experience
                            .experience__title experience
                            .experience__content 
                                span fullstack developer, 2020-2021
                                .is-devider-20
                                span backend developer, 2019-2020
                                .is-devider-20
                                span frontend developer, 2019
                        .contact
                            .contact__title contact
                            .contact__content
                                each contact in contacts
                                    if contact.field !== 'email'
                                        a(href=contact.value, class=contact.sign, target="_blank")=contact.sign
                                each contact in contacts
                                    if contact.field === 'email'
                                        .is-devider-20
                                        a(href=`mailto:${contact.value}`, class=contact.field)=contact.field
                .is-devider-200
        .bg-light
            .is-devider-100
            .is-devider-200
            .about__expertise
                span#expertise expertise
                .row.m-0 
                    .col-md-4.p-0
                        h1.about__expertise-title frontend
                        .is-devider-20
                        p.about__expertise-description I know a lot of guys who want to burn through, learn to surf CSS, then jump to Bootstrap to Javascript… But believe me, you'll have to pay back this technical debt very quickly.   
                    .col-md-4.p-0   
                        h1.about__expertise-title backend
                        .is-devider-20
                        p.about__expertise-description When starting to learn about web programming, there are many questions that arise in your head that have no answers. That is, there is a part of the application that the user can see, but the majority cannot see anything. That's the backend.
                    .col-md-4.p-0  
                        h1.about__expertise-title database
                        .is-devider-20    
                        p.about__expertise-description Every day, we meet a lot of people, things, events and access a lot of information in many areas of life. However, we do not need to remember all the information. From that vast amount of information, we filter out the necessary and useful information to save. This is data.
                .row.m-0
                    .col-md-4.p-0     
                        .about__expertise-skill
                            span.about__expertise-skill--item html5 
                            span.about__expertise-skill--item css3 
                            span.about__expertise-skill--item javascript 
                            span.about__expertise-skill--item bootstrap 
                            span.about__expertise-skill--item reactjs   
                    .col-md-4.p-0   
                        .about__expertise-skill
                            span.about__expertise-skill--item nodejs 
                            span.about__expertise-skill--item expressjs 
                            span.about__expertise-skill--item asp.net mvc 
                            span.about__expertise-skill--item wordpress  
                    .col-md-4.p-0  
                        .about__expertise-skill
                            span.about__expertise-skill--item mongodb 
                            span.about__expertise-skill--item sql server 
                            span.about__expertise-skill--item mysql server  
            .is-devider-200
        .bg-dark
            .is-devider-200
            .about__awards
                .about__awards-title awards
                .is-devider-40
                table.table.about__awards-table
                    tbody
                        each award in awards
                            tr
                                td 
                                    span=award.name
                                td=award.subject
                                td=award.prize
                                td=award.year
                        else
                            p.text-center.develop-note Updating, please try again. Thanks...