extends ./layouts/common
block content   
    section#portfolio.portfolio
        header.portfolio__header 
            .portfolio__header-title
                each i in info
                    if i.field == 'description-home'
                        - var value = i.value
                        h1 !{value}
        .is-devider-100
        main.portfolio__main
            .portfolio__main-project
                span.projects projects
                .row
                    each project in projects  
                        .col-md-4.col-sm-6.col-xs-12
                            a.card.bg-dark.text-white(href=project.url, target="_blank")
                                img.card-img(src=project.banner, alt=project.name)
                                .card-img-overlay
                                    h1.card-title=project.name
            .is-devider-300
            .portfolio__main-brand
                span.currently currently
                .card.bg-dark.text-white(href="/")
                    img.card-img(src='../img/banner.jpg', alt='...')
                    .card-img-overlay
                        h1.card-title 
                            span helping
                            span brands win.
                        p.card-text
                            a(href="javascript:void(0)") visit ad minhhoang
