extends ../layouts/admin
block content   
    seaction#stored-projects.stored-projects
        header.stored-projects__header 
            nav.nav
                a(href="/").nav-link portfolio
            .stored-projects__header-title
                h1 
                    span stored projects
        main.stored-projects__main
            form(method="POST", action="/projects/handle-form-actions")
                .stored-projects__link.text-end.mb-4
                    div
                        a(href="/projects/create").btn.btn-primary
                            i.fas.fa-plus
                            span.ms-2 Create A New Project
                        a(href="/me/trash/projects").btn.btn-primary.ms-2.position-relative
                            i.far.fa-trash-alt
                            span.ms-2 Recycle Bin
                            span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger #{deletedCount}
                    .delete-select-all
                        span
                        select.d-none(name='action')
                            option(value='delete')
                        button
                            i.far.fa-trash-alt
                table.table.stored-projects__table
                    thead
                        tr.align-middle
                            th(scope='col')
                                input#checkbox-all(type='checkbox')
                            th(scope='col') #
                            th(scope='col') Name
                            th(scope='col') Url
                            th(scope='col') Created At
                            th(scope='col')
                    tbody
                        - var count = 0;
                        each project in projects
                            - count++;
                            tr
                                th(scope='row')
                                    input(type='checkbox', name='projectIds[]', value=project._id)
                                th(scope='row') #{count}
                                td
                                    span.project-name=project.name
                                        img.project-banner(src=project.banner)
                                td=project.url
                                td=moment(project.createdAt).format('DD-MM-YYYY')
                                td
                                    a(href="/projects/" + project._id + "/edit").btn.btn-primary.me-2 Edit
                                    a(href="#", data-bs-toggle="modal", data-bs-target="#delete-project-modal", data-bs-id=project._id).btn.btn-primary.btn-delete Trash
                                
                                form(name="delete-project-form", method="POST")

                                // Confirm delete project
                                #delete-project-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='delete-project-label', aria-hidden='true')
                                    .modal-dialog.modal-dialog-centered(style="max-width: 600px;")
                                        .modal-content.bg-dark(style='box-shadow: 0 .5rem 1rem rgba(250,250,250,0.15); font-family: "Source Serif Pro", serif;')
                                            .modal-header
                                                h5#delete-project-label.modal-title.text-uppercase move the project to the trash
                                            .modal-body
                                                .is-devider-20                                  
                                                h4 Are you sure you want to move this project to the trash???
                                                .is-devider-20 
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                                                button#btn-delete-project.btn.btn-danger(type='button') Move to trash
                        else
                            tr
                                td.text-center(colspan='6') You haven't posted any projects yet?
                                    a(href="/projects/create").ms-2.text-warning Create a new project
    if success.length > 0
        - var msg = success

    script.
        document.addEventListener("DOMContentLoaded", function () {
            var deleteProjectModal = $("#delete-project-modal");
            var projectId;
            var deleteProjectForm = document.forms["delete-project-form"];
            var btnDeleteProject = $("#btn-delete-project");
            var restoreBtn = $$(".btn-restore");
            var checkboxAll = $("#checkbox-all");
            var projectItemCheckbox = $$('input[name="projectIds[]"]');

            // toast message
            let msgToast = '#{msg}';
            if(msgToast != ''){
                Eggy({
                    title:  'Success',
                    message:  msgToast,
                    type: 'success',
                    duration: 3000,
                });
            }

            deleteProjectModal.addEventListener("show.bs.modal", function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;
                projectId = button.getAttribute("data-bs-id");
            });

            //When delete project btn clicked
            btnDeleteProject.onclick = function () {
                deleteProjectForm.setAttribute("action", "/projects/" + projectId + "?_method=DELETE");
                deleteProjectForm.submit();
            }; 

            //Checkbox all changed
            checkboxAll.onchange = function() {
                for (let projectItem of projectItemCheckbox) {
                    projectItem.checked = this.checked;
                }
                renderSelectedAction();
            };

            // Project item checkbox changed
            for (let projectItem of projectItemCheckbox) {
                projectItem.onchange = function () {
                    var isCheckedAll = projectItemCheckbox.length === $$('input[name="projectIds[]"]:checked').length;
                    checkboxAll.checked = isCheckedAll;
                    renderSelectedAction();
                };
            };

            window.onload = function() {
                renderSelectedAction()
            }

            //Re-render checked all submit button
            function renderSelectedAction() {
                var checkedCount = $$('input[name="projectIds[]"]:checked').length;
                var storedProjectsLink = $(".stored-projects__link");

                if (checkedCount > 0) {
                    storedProjectsLink.classList.add("delete-all-show");
                    $(".delete-select-all span").innerText = checkedCount + " selected";
                } else {
                    storedProjectsLink.classList.remove("delete-all-show");
                }
            }; 
        });

        
  
        
        
