extends ../layouts/admin
block content   
    seaction#stored-educations.stored-educations
        header.stored-educations__header 
            .stored-educations__header-title
                h1 
                    span stored educations
        main.stored-educations__main
            form(method="POST", action="/educations/handle-form-actions")
                .stored-educations__link.text-end.mb-4
                    div
                        a(href="/educations/create").btn.btn-primary.btn-back
                            i.fas.fa-plus
                            span.ms-2 Create A New Education
                        a(href="/me/trash/educations").btn.btn-primary.btn-back.ms-2.position-relative
                            i.far.fa-trash-alt
                            span.ms-2 Recycle Bin
                            span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger #{deletedCount}
                    .delete-select-all
                        span
                        select.d-none(name='action')
                            option(value='delete')
                        button
                            i.far.fa-trash-alt
                .table-responsive
                    table.table.stored-educations__table
                        thead
                            tr.align-middle
                                th(scope='col')
                                    input#checkbox-all(type='checkbox')
                                th(scope='col') #
                                th(scope='col') School
                                th(scope='col') Degree
                                th(scope='col') Start Year
                                th(scope='col') End Year
                                th(scope='col') Created At
                                th(scope='col')
                        tbody
                            - var count = 0;
                            each education in educations
                                - count++;
                                tr
                                    th(scope='row')
                                        input(type='checkbox', name='educationIds[]', value=education._id)
                                    th(scope='row') #{count}
                                    td
                                        span.education-school-name=education.school
                                            img.education-school-logo(src=education.schoolLogo)
                                    td=education.degree
                                    td=education.startYear
                                    td=education.endYear
                                    td=moment(education.createdAt).format('DD-MM-YYYY')
                                    td
                                        a(href="/educations/" + education._id + "/edit").btn.btn-primary.me-2 Edit
                                        a(href="#", data-bs-toggle="modal", data-bs-target="#delete-education-modal", data-bs-id=education._id).btn.btn-primary.btn-delete Trash
                            else
                                tr
                                    td.text-center(colspan='8') You haven't posted any educations yet?
                                        a(href="/educations/create").ms-2.text-warning Create a new education
            form(name="delete-education-form", method="POST")

            // Confirm delete education
            #delete-education-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='delete-education-label', aria-hidden='true')
                .modal-dialog.modal-dialog-centered(style="max-width: 600px;")
                    .modal-content.bg-dark(style='box-shadow: 0 .5rem 1rem rgba(250,250,250,0.15); font-family: "Source Serif Pro", serif;')
                        .modal-header
                            h5#delete-education-label.modal-title.text-uppercase move the education to the trash
                        .modal-body
                            .is-devider-20                                  
                            h4 Are you sure you want to move this education to the trash???
                            .is-devider-20 
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                            button#btn-delete-education.btn.btn-danger(type='button') Move to trash
    
    if success.length > 0
        - var msg = success

    script.
        document.addEventListener("DOMContentLoaded", function () {
            var deleteEducationModal = $("#delete-education-modal");
            var educationId;
            var deleteEducationForm = document.forms["delete-education-form"];
            var btnDeleteEducation = $("#btn-delete-education");
            var checkboxAll = $("#checkbox-all");
            var educationItemCheckbox = $$('input[name="educationIds[]"]');

            // toast message
            let msgToast = '#{msg}';
            if(msgToast != ''){
                Eggy({
                    title:  'Success',
                    message:  msgToast,
                    type: 'success',
                    duration: 3000,
                });
            }

            deleteEducationModal.addEventListener("show.bs.modal", function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;
                educationId = button.getAttribute("data-bs-id");
            });

            //When delete education btn clicked
            btnDeleteEducation.onclick = function () {
                deleteEducationForm.setAttribute(
                    "action",
                    "/educations/" + educationId + "?_method=DELETE"
                );
                deleteEducationForm.submit();
            };

            //Checkbox all changed
            checkboxAll.onchange = function() {
                for (let educationItem of educationItemCheckbox) {
                    educationItem.checked = this.checked;
                }
                renderSelectedAction();
            };

            // Education item checkbox changed
            for (let educationItem of educationItemCheckbox) {
                educationItem.onchange = function () {
                    var isCheckedAll = educationItemCheckbox.length === $$('input[name="educationIds[]"]:checked').length;
                    checkboxAll.checked = isCheckedAll;
                    renderSelectedAction();
                };
            };

            window.onload = function() {
                renderSelectedAction()
            };

            //Re-render checked all submit button
            function renderSelectedAction() {
                var checkedCount = $$('input[name="educationIds[]"]:checked').length;
                var storedEducationsLink = $(".stored-educations__link");

                if (checkedCount > 0) {
                    storedEducationsLink.classList.add("delete-all-show");
                    $(".delete-select-all span").innerText = checkedCount + " selected";
                } else {
                    storedEducationsLink.classList.remove("delete-all-show");
                }
            }; 
        });

        
  
        
        
