extends ../layouts/common
block content   
    seaction#stored-projects.stored-projects
        header.stored-projects__header 
            nav.nav
                a(href="/").nav-link portfolio
            .stored-projects__header-title
                h1 
                    span deleted project
        main.stored-projects__main
            div.text-end.mb-4
                a(href="/me/stored/projects").btn.btn-primary.position-relative
                    i.fab.fa-app-store
                    span.ms-2 Stored Projects
                    span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger #{storedProjectsCount}
            table.table.stored-projects__table
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Name
                        th(scope='col') Url
                        th(scope='col') Deleted At
                        th(scope='col')
                tbody
                    - var count = 0;
                    each project in projects
                        - count++;
                        tr
                            th(scope='row') #{count}
                            td
                                span.project-name=project.name
                                    img.project-banner(src=project.banner)
                            td=project.url
                            td=moment(project.deletedAt).format('DD-MM-YYYY')
                            td
                                a(href="#", data-bs-id=project._id).btn.btn-primary.btn-restore.me-2 Restore
                                a(href="#", data-bs-toggle="modal", data-bs-target="#delete-project-modal", data-bs-id=project._id).btn.btn-primary.btn-delete Delete
                            
                            form(name="delete-project-form", method="POST")
                            form(name="restore-project-form", method="POST")

                            // Confirm delete project
                            #delete-project-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='delete-project-label', aria-hidden='true')
                                .modal-dialog.modal-dialog-centered(style="max-width: 600px;")
                                    .modal-content.bg-dark(style='box-shadow: 0 .5rem 1rem rgba(250,250,250,0.15); font-family: "Source Serif Pro", serif;')
                                        .modal-header
                                            h5#delete-project-label.modal-title.text-uppercase Delete project
                                        .modal-body
                                            .is-devider-20                                  
                                            h4 This action cannot be restore. Are you sure you want to delete this project?
                                            .is-devider-20 
                                        .modal-footer
                                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                                            button#btn-delete-project.btn.btn-danger(type='button') Delete
                    else
                        tr
                            td.text-center(colspan='5') Empty trash can?
                                a(href="/me/stored/projects").ms-2.text-warning Stored Projects
    if success.length > 0
        - var msg = success

    script.
        document.addEventListener("DOMContentLoaded", function () {
            var deleteProjectModal = $("#delete-project-modal");
            var projectId;
            var deleteProjectForm = document.forms["delete-project-form"];
            var restoreProjectForm = document.forms["restore-project-form"];
            var btnDeleteProject = $("#btn-delete-project");
            var restoreBtn = $$(".btn-restore");

            deleteProjectModal.addEventListener("show.bs.modal", function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;
                projectId = button.getAttribute("data-bs-id");
            });

            //When delete project btn clicked
            btnDeleteProject.onclick = function () {
                deleteProjectForm.setAttribute(
                    "action",
                    "/projects/" + projectId + "/force?_method=DELETE"
                );
                deleteProjectForm.submit();
            };

            // Restore btn clicked
            for (let item of restoreBtn) {
                item.onclick = function (e) {
                    e.preventDefault();
                    var projectId = item.getAttribute("data-bs-id");
                    restoreProjectForm.setAttribute(
                        "action",
                        "/projects/" + projectId + "/restore?_method=PATCH"
                    );
                    restoreProjectForm.submit();
                };
            }

            // toast message
            let msgToast = '#{msg}';
            if(msgToast != ''){
                Eggy({
                    title:  'Success',
                    message:  msgToast,
                    type: 'success',
                    duration: 5000,
                });
            }
        });

       