extends ../layouts/admin
block content   
    seaction#stored-expertises.stored-expertises
        header.stored-expertises__header 
            .stored-expertises__header-title
                h1 
                    span deleted expertises
        main.stored-expertises__main
            form(method="POST", action="/expertises/handle-form-actions")
                .stored-expertises__link.text-end.mb-4
                    a(href="/me/stored/expertises").btn.btn-primary.position-relative
                        i.fab.fa-app-store
                        span.ms-2 Stored Expertises
                        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger #{storedExpertisesCount}
                    .delete-select-all
                        span
                        select.d-none(name='action')
                            option(value='restore')
                        div
                            button#btn-restore-expertise
                                i.fas.fa-trash-restore
                            button#btn-force-delete-expertise.ms-4
                                i.far.fa-trash-alt
                table.table.stored-expertises__table
                    thead
                        tr.align-middle
                            th(scope='col')
                                input#checkbox-all(type='checkbox')
                            th(scope='col') #
                            th(scope='col') Name
                            th(scope='col') Location
                            th(scope='col') Expertise Category
                            th(scope='col') Deleted At
                            th(scope='col')
                    tbody
                        - var count = 0;
                        each expertise in expertises
                            - count++;
                            tr
                                th(scope='row')
                                    input(type='checkbox', name='expertiseIds[]', value=expertise._id)
                                th(scope='row') #{count}
                                td=expertise.name
                                td=expertise.location
                                each category in expertisesCategories
                                    if expertise.expertiseCategoryId === category._id
                                        td=category.name
                                td=moment(expertise.deletedAt).format('DD-MM-YYYY')
                                td
                                    a(href="#", data-bs-id=expertise._id).btn.btn-primary.btn-restore.me-2 Restore
                                    a(href="#", data-bs-toggle="modal", data-bs-target="#delete-expertise-modal", data-bs-id=expertise._id).btn.btn-primary.btn-delete Delete
                                
                                form(name="delete-expertise-form", method="POST")
                                form(name="restore-expertise-form", method="POST")

                                // Confirm delete project
                                #delete-expertise-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='delete-expertise-label', aria-hidden='true')
                                    .modal-dialog.modal-dialog-centered(style="max-width: 600px;")
                                        .modal-content.bg-dark(style='box-shadow: 0 .5rem 1rem rgba(250,250,250,0.15); font-family: "Source Serif Pro", serif;')
                                            .modal-header
                                                h5#delete-expertise-label.modal-title.text-uppercase Delete expertise
                                            .modal-body
                                                .is-devider-20                                  
                                                h4 This action cannot be restore. Are you sure you want to delete this expertise?
                                                .is-devider-20 
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                                                button#btn-delete-expertise.btn.btn-danger(type='button') Delete
                        else
                            tr
                                td.text-center(colspan='7') Empty trash can?
                                    a(href="/me/stored/expertises").ms-2.text-warning Stored expertises
    if success.length > 0
        - var msg = success

    script.
        document.addEventListener("DOMContentLoaded", function () {
            var deleteExpertiseModal = $("#delete-expertise-modal");
            var expertiseId;
            var deleteExpertiseForm = document.forms["delete-expertise-form"];
            var restoreExpertiseForm = document.forms["restore-expertise-form"];
            var btnDeleteExpertise = $("#btn-delete-expertise");
            var restoreBtn = $$(".btn-restore");
            var checkboxAll = $("#checkbox-all");
            var expertiseItemCheckbox = $$('input[name="expertiseIds[]"]');
            var btnRestoreExpertise = $("#btn-restore-expertise");
            var btnForceDeleteExpertise = $("#btn-force-delete-expertise");

            // toast message
            let msgToast = '#{msg}';
            if(msgToast != ''){
                Eggy({
                    title:  'Success',
                    message:  msgToast,
                    type: 'success',
                    duration: 3000,
                });
            }

            deleteExpertiseModal.addEventListener("show.bs.modal", function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;
                expertiseId = button.getAttribute("data-bs-id");
            });

            //When delete project btn clicked
            btnDeleteExpertise.onclick = function () {
                deleteExpertiseForm.setAttribute(
                    "action",
                    "/expertises/" + expertiseId + "/force?_method=DELETE"
                );
                deleteExpertiseForm.submit();
            };

            // Restore btn clicked
            for (let item of restoreBtn) {
                item.onclick = function (e) {
                    e.preventDefault();
                    var expertiseId = item.getAttribute("data-bs-id");
                    restoreExpertiseForm.setAttribute(
                        "action",
                        "/expertises/" + expertiseId + "/restore?_method=PATCH"
                    );
                    restoreExpertiseForm.submit();
                };
            }

            //Checkbox all changed
            checkboxAll.onchange = function() {
                for (let expertiseItem of expertiseItemCheckbox) {
                    expertiseItem.checked = this.checked;
                }
                renderSelectedAction();
            };

            // Expertise item checkbox changed
            for (let expertiseItem of expertiseItemCheckbox) {
                expertiseItem.onchange = function () {
                    var isCheckedAll = expertiseItemCheckbox.length === $$('input[name="expertiseIds[]"]:checked').length;
                    checkboxAll.checked = isCheckedAll;
                    renderSelectedAction();
                };
            };

            window.onload = function() {
                renderSelectedAction()
            }

            //Re-render checked all submit button
            function renderSelectedAction() {
                var checkedCount = $$('input[name="expertiseIds[]"]:checked').length;
                var storedExpertisesLink = $(".stored-expertises__link");

                if (checkedCount > 0) {
                    storedExpertisesLink.classList.add("delete-all-show");
                    $(".delete-select-all span").innerText = checkedCount + " selected";
                } else {
                    storedExpertisesLink.classList.remove("delete-all-show");
                }
            };

            // Set value to handle submit form
            btnRestoreExpertise.onclick = function () {
                $("select option").value = "restore";
            }

            btnForceDeleteExpertise.onclick = function () {
                $("select option").value = "force-delete";
            }
        });

       