extends ../layouts/admin
block content   
    seaction#stored-awards.stored-awards
        header.stored-awards__header 
            .stored-awards__header-title
                h1 
                    span deleted awards
        main.stored-awards__main
            form(method="POST", action="/awards/handle-form-actions")
                .stored-awards__link.text-end.mb-4
                    a(href="/me/stored/awards").btn.btn-primary.position-relative
                        i.fab.fa-app-store
                        span.ms-2 Stored Awards
                        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger #{storedAwardsCount}
                    .delete-select-all
                        span
                        select.d-none(name='action')
                            option(value='restore')
                        div
                            button#btn-restore-award
                                i.fas.fa-trash-restore
                            button#btn-force-delete-award.ms-4
                                i.far.fa-trash-alt
                table.table.stored-awards__table
                    thead
                        tr.align-middle
                            th(scope='col')
                                input#checkbox-all(type='checkbox')
                            th(scope='col') #
                            th(scope='col') Name
                            th(scope='col') Level/Subject
                            th(scope='col') Prize
                            th(scope='col') Year
                            th(scope='col') Deleted At
                            th(scope='col')
                    tbody
                        - var count = 0;
                        each award in awards
                            - count++;
                            tr
                                th(scope='row')
                                    input(type='checkbox', name='awardIds[]', value=award._id)
                                th(scope='row') #{count}
                                td(width=600)=award.name
                                td=award.subject
                                td=award.prize
                                td=award.year
                                td=moment(award.deletedAt).format('DD-MM-YYYY')
                                td
                                    a(href="#", data-bs-id=award._id).btn.btn-primary.btn-restore.me-2 Restore
                                    a(href="#", data-bs-toggle="modal", data-bs-target="#delete-award-modal", data-bs-id=award._id).btn.btn-primary.btn-delete Delete
                                
                                form(name="delete-award-form", method="POST")
                                form(name="restore-award-form", method="POST")

                                // Confirm delete award
                                #delete-award-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='delete-award-label', aria-hidden='true')
                                    .modal-dialog.modal-dialog-centered(style="max-width: 600px;")
                                        .modal-content.bg-dark(style='box-shadow: 0 .5rem 1rem rgba(250,250,250,0.15); font-family: "Source Serif Pro", serif;')
                                            .modal-header
                                                h5#delete-award-label.modal-title.text-uppercase Delete award
                                            .modal-body
                                                .is-devider-20                                  
                                                h4 This action cannot be restore. Are you sure you want to delete this award?
                                                .is-devider-20 
                                            .modal-footer
                                                button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                                                button#btn-delete-award.btn.btn-danger(type='button') Delete
                        else
                            tr
                                td.text-center(colspan='8') Empty trash can?
                                    a(href="/me/stored/awards").ms-2.text-warning Stored awards
    if success.length > 0
        - var msg = success

    script.
        document.addEventListener("DOMContentLoaded", function () {
            var deleteAwardModal = $("#delete-award-modal");
            var awardId;
            var deleteAwardForm = document.forms["delete-award-form"];
            var restoreAwardForm = document.forms["restore-award-form"];
            var btnDeleteAward = $("#btn-delete-award");
            var restoreBtn = $$(".btn-restore");
            var checkboxAll = $("#checkbox-all");
            var awardItemCheckbox = $$('input[name="awardIds[]"]');
            var btnRestoreAward = $("#btn-restore-award");
            var btnForceDeleteAward = $("#btn-force-delete-award");
            
            // toast message
            let msgToast = '#{msg}';
            if(msgToast != ''){
                Eggy({
                    title:  'Success',
                    message:  msgToast,
                    type: 'success',
                    duration: 3000,
                });
            }

            deleteAwardModal.addEventListener("show.bs.modal", function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;
                awardId = button.getAttribute("data-bs-id");
            });

            //When delete award btn clicked
            btnDeleteAward.onclick = function () {
                deleteAwardForm.setAttribute(
                    "action",
                    "/awards/" + awardId + "/force?_method=DELETE"
                );
                deleteAwardForm.submit();
            };

            // Restore btn clicked
            for (let item of restoreBtn) {
                item.onclick = function (e) {
                    e.preventDefault();
                    var awardId = item.getAttribute("data-bs-id");
                    restoreAwardForm.setAttribute(
                        "action",
                        "/awards/" + awardId + "/restore?_method=PATCH"
                    );
                    restoreAwardForm.submit();
                };
            }

            //Checkbox all changed
            checkboxAll.onchange = function() {
                for (let awardItem of awardItemCheckbox) {
                    awardItem.checked = this.checked;
                }
                renderSelectedAction();
            };

            // Award item checkbox changed
            for (let awardItem of awardItemCheckbox) {
                awardItem.onchange = function () {
                    var isCheckedAll = awardItemCheckbox.length === $$('input[name="awardIds[]"]:checked').length;
                    checkboxAll.checked = isCheckedAll;
                    renderSelectedAction();
                };
            };

            window.onload = function() {
                renderSelectedAction()
            }

            //Re-render checked all submit button
            function renderSelectedAction() {
                var checkedCount = $$('input[name="awardIds[]"]:checked').length;
                var storedAwardsLink = $(".stored-awards__link");

                if (checkedCount > 0) {
                    storedAwardsLink.classList.add("delete-all-show");
                    $(".delete-select-all span").innerText = checkedCount + " selected";
                } else {
                    storedAwardsLink.classList.remove("delete-all-show");
                }
            };

            // Set value to handle submit form
            btnRestoreAward.onclick = function () {
                $("select option").value = "restore";
            }

            btnForceDeleteAward.onclick = function () {
                $("select option").value = "force-delete";
            } 
        });

       