extends ../layouts/common
block content
    seaction#project-show.project-show
        header.project-show__header.justify-content-center
            .project-show__header-title.text-center
                h5.mb-4.text-uppercase(style="letter-spacing: 8px") showcase
                h1=project.name
        main.project-show__main
            .project-show__main-banner
                img(src=project.banner)
            .project-show__main-viewmore.mt-5
                .project-show__main-visit
                    a.visit-link(href=project.urlGit, target="_blank") 
                        img.me-2(src="/img/code.svg", width=20)
                        | Source code
                .project-show__main-visit
                    a.visit-link(href=project.urlWeb, target="_blank") Visit Website
                        img.ms-2(src="/img/right.svg", width=20)
            .project-show__main-description.mt-5
                span.project-show__main-description--title Description
                div.mt-4 !{project.description}
            .is-devider-100
            .row.project-show__main-nextproject
                .col-md-8
                    a.card.bg-dark(href=`/projects/${nextProject.slug}`)
                        img.card-img(src=nextProject.banner, alt=nextProject.name)
                        .card-img-overlay
                            .text-white
                                h5.card-text.mb-4.text-uppercase(style="letter-spacing: 8px") next project
                                h1.card-title.text-uppercase=nextProject.name